body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f5f7;
}

.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  height: 100vh;
  background: #0c66e4;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 40px;
}

.menuItem {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.menuItem:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logoutBtn {
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  background: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBox {
  background: white;
  padding: 8px 12px;
  border-radius: 6px;
}

/* CARDS */
.stats {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
}

/* PROJECT */
.projectHeader {
  margin-top: 30px;
}

.projectHeader input {
  padding: 10px;
  width: 250px;
}

.projectHeader button {
  margin-left: 10px;
  padding: 10px 20px;
}

.projectList {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.projectCard {
  background: white;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.projectCard.active {
  background: #0c66e4;
  color: white;
}

/* LOGIN PAGE */
.loginPage {
  display: flex;
  height: 100vh;
  background: linear-gradient(120deg, #2563eb, #1e40af);
  font-family: Arial, sans-serif;
}

/* LEFT PANEL */
.loginLeft {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.loginLeft h1 {
  font-size: 42px;
  font-weight: bold;
}

.loginLeft p {
  margin-top: 10px;
  opacity: 0.9;
  width: 350px;
}

/* RIGHT CARD */
.loginCard {
  width: 420px;
  background: white;
  margin: auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.loginCard h2 {
  margin-bottom: 25px;
}

.inputBox {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.inputBox input {
  border: none;
  outline: none;
  margin-left: 10px;
  flex: 1;
}

.loginCard button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.loginCard button:hover {
  background: #1e40af;
}
